@import "./common/constants";

.content-container {
  padding: 20px
}

#the-great-loader {
  width: 100vw;
  height: 100vh;
}

#the-great-error {
  font-size: 34px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ant-btn {
  text-transform: uppercase;
  text-align: center;
  min-width: 140px;
  height: 40px;
}

.indicators-wrapper {
  display: flex;
  justify-content: space-around;
}

.action-icon,
.indicator-icon {
  font-size: 20px;
  cursor: pointer;
  color: $action-color;

  &:hover {
    color: $action-color-hover;
  }

  &:active {
    color: $action-color-active;
  }
}

.link-like {
  color: $link-color;
  cursor: pointer;

  &:hover {
    color: $link-color-hover;
  }

  &:active {
    color: $link-color-active;
  }
}

.content-outer-container {
  min-height: calc(100vh - #{$header-height});
  margin: $header-height auto 0 auto;
  width: 80vw;
  max-width: 900px;

  // remove
  text-align: center;
}

.hidden {
  display: none;
}

.ant-modal {
  width: 80vw !important;
  max-width: 800px !important;
}

body::-webkit-scrollbar,
.custom-scroll-bar::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track,
.custom-scroll-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb,
.custom-scroll-bar::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 2px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
